<!DOCTYPE html>
<html lang="en">
<head>
<title>tvshowapp</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

<!-- Uses a header that contracts as the page scrolls down. -->
<style>
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type
	{
	padding-right: 0;
}
</style>
</head>
<body>
	<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
		<header class="mdl-layout__header mdl-layout__header--waterfall">
			<!-- Top row, always visible -->
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">Title</span>
				<div class="mdl-layout-spacer"></div>
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="waterfall-exp"> <i class="material-icons">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input" type="text" name="sample" id="waterfall-exp">
					</div>
				</div>
			</div>
			<!-- Bottom row, not visible on scroll -->
			<div class="mdl-layout__header-row">
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation -->
				<nav class="mdl-navigation">
					<a class="mdl-navigation__link" href="">Link</a> <a class="mdl-navigation__link" href="">Link</a> <a
						class="mdl-navigation__link" href="">Link</a> <a class="mdl-navigation__link" href="">Link</a>
				</nav>
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">Title</span>
			<nav class="mdl-navigation">
				<a class="mdl-navigation__link" href="">Link</a> <a class="mdl-navigation__link" href="">Link</a> <a
					class="mdl-navigation__link" href="">Link</a> <a class="mdl-navigation__link" href="">Link</a>
			</nav>
		</div>
		<main class="mdl-layout__content">
		<div class="page-content">
			<p>
				Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br>
				Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br>
				Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br>
				Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br>
				Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br>
				Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br>
				Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br> Ciao<br>
		</div>
		</main>
	</div>

	<script>
(function() {
	//window.mdc.autoInit();
	// Instantiation
	//const topAppBarElement = document.querySelector('.mdc-top-app-bar');
	//const topAppBar = new MDCTopAppBar(topAppBarElement);
	
	// Initialize Material Design Components
	/*
	const buttons = document.querySelectorAll('.mdc-button');
	for (const button of buttons) {
		mdc.ripple.MDCRipple.attachTo(button);
	}
	const textFields = document.querySelectorAll('.mdc-text-field');
	for (const textField of textFields) {
		mdc.textField.MDCTextField.attachTo(textField);
	}
	*/
		
});
	
	
})();
</script>
</body>
</html>